
<footer>
  <section class="padded padded-b-0 padded-t-1 bg-medium grid-spaceBetween">
    <div class="col-1_md-2-left left">
      <a href="/"> <img src="/images/logos/logo.png" class="margin-b-1"> </a>
      <a href="mailto:karin@thetasoul.ch" class="email"> karin@thetasoul.ch </a>
      {% include social-share.html %}
    </div>
    <nav class="col-4 right">
      <a href="/" class="block"> Start </a>
      <a href="/ueber-mich" class="block"> Über mich </a>
      <a href="/tierkinesiologie" class="block"> Tierkinesiologie </a>
      <a href="/shop" class="block"> Shop </a>
      <a href="/kontakt" class="block"> Kontakt </a>
      <a href="/termin-buchen" class="featured"> Termin buchen </a>
      <div class="i-d">
        <a href="/impressum" class="block"> Impressum </a>
        <a href="/datenschutz" class="block"> Datenschutz</a>
      </div>
    </nav>
    <div class="col-12 padded-b-1 padded-t-1 center">
      <p> ©ThetaSoul by Karin Gütiger 2023 </p>
    </div>
  </section>
</footer>


  
  