
<footer class="bg-light hide-xs">
  <section class="padded padded-b-0 padded-t-1 bg-light grid-spaceBetween">
    <div class="col-1_md-2-left left">
      <a href="/"> <img src="/images/logos/logo.png" class="margin-b-1"> </a>
      <a href="mailto:karin@thetasoul.ch" class="email"> karin@thetasoul.ch </a>
      {% include social-share.html %}
    </div>
    <nav class="col-4 right">
      <a href="/index" class="block"> Start </a>
      <a href="/ueber-mich" class="block"> Über mich </a>
      <a href="/behandlungen" class="block"> Behandlungen </a>
      <a href="/familienmediation" class="block"> Familienmediation </a>
      <a href="/seminare" class="block"> Seminare </a>
      <a href="/kalender" class="block"> Kalender </a>
      <a href="/termin-buchen" class="block"> Termin buchen </a>
      <a href="/kontakt" class="block"> Kontakt </a>
      <div class="i-d">
        <a href="/impressum" class="block"> Impressum </a>
        <a href="/datenschutz" class="block"> Datenschutz</a>
      </div>
    </nav>
    <div class="col-12 padded-b-1 padded-t-1 center">
      <p> ©ThetaSoul by Karin Gütiger 2023 </p>
    </div>
  </section>
</footer>


<footer class="bg-light show-xs">
  <section class="padded padded-b-0 padded-t-1 bg-light grid-spaceBetween">
    <div class="col-1_md-2_xs-3-bottom left">
      <a href="/"> <img src="/images/logos/logo.png" class="margin-b-1"> </a>
      <a href="mailto:karin@thetasoul.ch" class="email"> karin@thetasoul.ch </a>
      {% include social-share.html %}
    </div>
    <nav class="col-4_xs-9 right">
      <a href="/index" class="block"> Start </a>
      <a href="/ueber-mich" class="block"> Über mich </a>
      <a href="/behandlungen" class="block"> Behandlungen </a>
      <a href="/familienmediation" class="block"> Familienmediation </a>
      <a href="/seminare" class="block"> Seminare </a>
      <a href="/kalender" class="block"> Kalender </a>
      <a href="/termin-buchen" class="block"> Termin buchen </a>
      <a href="/kontakt" class="block"> Kontakt </a>
      <div class="i-d">
        <a href="/impressum" class="block"> Impressum </a>
        <a href="/datenschutz" class="block"> Datenschutz</a>
      </div>
    </nav>
    <div class="col-12 padded-b-1 padded-t-1 center">
      <p> ©ThetaSoul by Karin Gütiger 2023 </p>
    </div>
  </section>
</footer>

  
  