
<footer class="bg-light hide-xs">
  <section class="padded padded-b-0 padded-t-1 bg-light grid-spaceBetween">
    <div class="col-1_md-2-left left">
      <a href="/"> <img src="/images/logos/logo.png" class="margin-b-1"> </a>
    </div>
    <nav class="col-4 right">
      <a href="/index" class="block"> Start </a>
      <a href="/ueber-mich" class="block"> Über mich </a>
      <a href="/behandlungen" class="block"> Behandlungen </a>
      <a href="/familienmediation" class="block"> Familienmediation </a>
      <a href="/seminare" class="block"> Seminare </a>
      <a href="/kalender" class="block"> Kalender </a>
      <a href="/termin-buchen" class="block"> Termin buchen </a>
      <a href="/kontakt" class="block"> Kontakt </a>
      <div class="i-d">
        <a href="/agb.html" class="block"> AGB's </a>
        <a href="/impressum" class="block"> Impressum </a>
        <a href="/datenschutz" class="block"> Datenschutz</a>
      </div>
    </nav>
    <div class="col-12 padded-1 padded-b-05 center">
      <nav>
        <a href="mailto:info@karinguetiger.ch" class="padded-l-0">
          <i class="fa-solid fa-brands-2 fa-envelope"></i>
        </a>
        <a href="https://wa.me/41766505298" rel="nofollow" target="_blank" title="Kontaktiere mich auf Whats App">
          <i class="fa-brands fa-brands-2 fa-whatsapp"></i>
        </a>
        <a href="tel:+41766505298" rel="nofollow" target="_blank" title="Kontaktiere mich via Telefon">
          <i class="fa-solid fa-brands-2 fa-phone"></i>
        </a>
        <a href="https://www.facebook.com/thetasoulch-102653365894392/" rel="nofollow" target="_blank" title="Share on Facebook" class="padded-l-0">
          <i class="fa-brands fa-brands-2 fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/thetasoul.ch/" rel="nofollow" target="_blank" title="Share on Instagram">
          <i class="fa-brands fa-brands-2 fa-instagram"></i>
      </a>
    </nav>
    </div>
    <div class="col-12 padded-b-0 center md-right">
      <p class="editable"> Lindenstrasse 6b, 6330 Cham </p>
    </div>
    <div class="col-12 padded-b-1 padded-t-05 center md-right">
      <p> ©Karin Gütiger Awaken Soul 2023 </p>
    </div>
    <div class="pajurama-logo-position">
      <p class="editable size-09"> Web Design und <br class="show-sm"> Fotografie von <br><a href="https://www.pajurama.com" target="_blank" class="pajurama-logo"> <img src="/images/logos/pajurama-logo.png" class="pajurama-logo"> </a> </p>
    </div>
</section>
</footer>


<footer class="bg-light show-xs">
  <section class="padded padded-b-0 padded-t-1 bg-light grid-spaceBetween">
    <div class="col-1_md-2_xs-3-bottom left">
      <a href="/"> <img src="/images/logos/logo.png" class="margin-b-1"> </a>
    </div>
    <nav class="col-4_xs-9 right">
      <a href="/index" class="block"> Start </a>
      <a href="/ueber-mich" class="block"> Über mich </a>
      <a href="/behandlungen" class="block"> Behandlungen </a>
      <a href="/familienmediation" class="block"> Familienmediation </a>
      <a href="/seminare" class="block"> Seminare </a>
      <a href="/kalender" class="block"> Kalender </a>
      <a href="/termin-buchen" class="block"> Termin buchen </a>
      <a href="/kontakt" class="block"> Kontakt </a>
      <div class="i-d">
        <a href="/agb.html" class="block"> AGB's </a>
        <a href="/impressum" class="block"> Impressum </a>
        <a href="/datenschutz" class="block"> Datenschutz</a>
      </div>
    </nav>
    <div class="col-12 padded-1 center">
      <nav>
        <a href="mailto:karin@thetasoul.ch" class="padded-l-0">
          <i class="fa-solid fa-brands-2 fa-envelope"></i>
        </a>
        <a href="https://wa.me/41786279656" rel="nofollow" target="_blank" title="Kontaktiere mich auf Whats App">
          <i class="fa-brands fa-brands-2 fa-whatsapp"></i>
        </a>
        <a href="tel:+41786279656" rel="nofollow" target="_blank" title="Kontaktiere mich via Telefon">
          <i class="fa-solid fa-brands-2 fa-phone"></i>
        </a>
        <a href="https://www.facebook.com/thetasoulch-102653365894392/" rel="nofollow" target="_blank" title="Share on Facebook" class="padded-l-0">
          <i class="fa-brands fa-brands-2 fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/thetasoul.ch/" rel="nofollow" target="_blank" title="Share on Instagram">
          <i class="fa-brands fa-brands-2 fa-instagram"></i>
      </a>
    </nav>
    </div>
    <div class="col-12 padded-b-0 center md-right sm-09">
      <p class="editable"> Lindenstrasse 6b, 6330 Cham </p>
    </div>
    <div class="col-12 md-right padded-t-1">
      <p class="editable size-09"> Web Design und Fotografie von <br><a href="https://www.pajurama.com" target="_blank" class="pajurama-logo"> <img src="/images/logos/pajurama-logo.png" class="pajurama-logo"> </a> </p>
    </div>
    <div class="col-12 padded-b-1 padded-t-05 center sm-09 md-right">
      <p> ©ThetaSoul by Karin Gütiger 2023 </p>
    </div>
  </section>
</footer>

  
  