
<header class="grid-spaceAround-middle center">

  <div class="col-1 hide-md">
     <a href="/index"> <img src="/images/logos/logo.png" class="header-logo"> </a>
  </div> 

<div class="bg-light col-12">
  <nav class="hide-md padded-05">
      <a href="/index"> Start </a>
      <a href="/ueber-mich"> Über mich </a>
      <div class="dropdown">
        <a href="/behandlungen" class="dropdown-title"> Behandlungen </a>
        <div class="dropdown-content">
          <a href="/thetahealing.html"> ThetaHealing® </a>
          <a href="/raindrop.html"> Raindrop Massage </a>
          <a href="/emotional-release.html"> Emotional Release </a>
          <a href="/crystal-layout.html"> Crystal Layout </a>
          <a href="/aromaatherapie.html"> Aromatherapie </a>
          <a href="/goddess-revolution.html"> Goddess Revolution </a>
        </div>
      </div>
      <a href="/seminare"> Seminare </a>
      <a href="/kalender"> Kalender </a>
      <a href="/familienmediation"> Familienmediation </a>
      <a href="/termin-buchen"> Termin buchen </a>
      <a href="/kontakt"> Kontakt </a>
  </nav> 
</div>

<div class="col-12 grid-spaceAround-middle show-md">
  <div class="col-1_sm-1_xs-2">
    <a href="/index"> <img src="/images/logos/logo.png" class="header-logo"> </a>
  </div> 
  <div class="col-11_sm-11_xs-10 show-md">
    <p class="menu-button"> MENU </p>
  </div>
</div>

  <div class="show-md">
    <p class="menu-button"> MENU </p>
  </div>

</header>
  
<div class="mobile-menu"> 
  <a href="/index"> <img src="/images/logos/logo.png" class="header-logo"> </a>
  <nav class="mobile-menu-links"> 
    <a href="/index"> Start </a>
    <a href="/ueber-mich"> Über mich </a>
    <a href="/behandlungen"> Behandlungen </a>
    <div class="dropdown-content-mobile">
      <a href="/thetahealing.html"> ThetaHealing® </a>
      <a href="/raindrop.html"> Raindrop Massage </a>
      <a href="/emotional-release.html"> Emotional Release </a>
      <a href="/crystal-layout.html"> Crystal Layout </a>
      <a href="/aromaatherapie.html"> Aromatherapie </a>
      <a href="/goddess-revolution.html"> Goddess Revolution </a>
    </div>
    <a href="/seminare"> Seminare </a>
    <a href="/kalender"> Kalender </a>
    <a href="/familienmediation"> Familienmediation </a>
    <a href="/termin-buchen"> Termin buchen </a>
    <a href="/kontakt"> Kontakt </a>
  </nav>
</div> 

