
<header class="grid-spaceAround-middle center">

  <div class="col-1 hide-md">
     <a href="/index"> <img src="/images/logos/logo.png" class="header-logo"> </a>
  </div> 

<div class="bg-light col-12">
  <nav class="hide-md padded-05">
      <a href="/index"> Start </a>
      <a href="/ueber-mich"> Über mich </a>
      <div class="dropdown">
        <a href="/behandlungen" class="dropdown-title"> Behandlungen </a>
        <div class="dropdown-content">
          
          {% for behandlungen in page.behandlungen %}
    
          <a href="{{behandlungen.link}}"> {{behandlungen.title}} </a>

          {% endfor %}
        </div>
      </div>
      <a href="/familienmediation"> Familienmediation </a>
      <a href="/seminare"> Seminare </a>
      <a href="/kalender"> Kalender </a>
      <a href="/termin-buchen"> Termin buchen </a>
      <a href="/kontakt"> Kontakt </a>
  </nav> 
</div>


<div class="mobile-header-logo show-md">
  <a href="/index"> <img src="/images/logos/logo.png" class="header-logo"> </a>
</div> 
<div class="menu-button-position show-md">
  <p class="menu-button"> MENU </p>
</div>



</header>
  
<div class="mobile-menu relative"> 
  <a href="/index"> <img src="/images/logos/logo.png" class="header-logo-mobile"> </a>
  <div class="menu-button-position-mobile">
    <span class="menu-button menu-button-mobile"> SCHLIESSEN </span>
  </div>
  <nav class="mobile-menu-links"> 
    <a href="/index"> Start </a>
    <a href="/ueber-mich"> Über mich </a>
    <a href="/behandlungen"> Behandlungen </a>
    <div class="dropdown-content-mobile">
      <a href="/thetahealing.html"> ThetaHealing® </a>
      <a href="/raindrop-massage.html"> Raindrop Massage </a>
      <a href="/emotional-release.html"> Emotional Release </a>
      <a href="/crystal-layout.html"> Crystal Layout </a>
      <a href="/aromatherapie.html"> Aromatherapie </a>
      <a href="/goddess-revolution.html"> Goddess Revolution </a>
    </div>
    <a href="/familienmediation"> Familienmediation </a>
    <a href="/seminare"> Seminare </a>
    <a href="/kalender"> Kalender </a>
    <a href="/termin-buchen"> Termin buchen </a>
    <a href="/kontakt"> Kontakt </a>
  </nav>
</div> 


